<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <nav>
            <h1>Best Books!</h1>
            <a href="#"><i class="fa fa-bars"></i></a>
        </nav>
        <section id="page">Search Results</section>
    </header>

    <main>
        <% book.forEach(val => {%>
        <div>
            <img src="<%= val.imageUrl%>" />
            <h3> <%= val.titleName %> </h3>
            <h4> <%= val.authorName %> </h4>
            <p> <%= val.description %> </p>
        </div>
        <br>
        <% }) %>
    </main>

    <footer>
        <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    </footer>
</body>

</html>